*{
    padding:0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: inherit;
}
ul,ol{
    list-style-type: none;
}
body{
    background: #fff;
    font-family: 'PingHei', 'STHeiti SC','Simhei';
    line-height: 1;
    font-size: 16px;
    color:#333;
    -webkit-text-size-adjust: none;
}
.e-sub-title{
    text-align: center;
}
@media (max-width:640px){
    .e-sub-title{
        text-align: left;
    }
}
/* 内容边界 */
.boundary{
    position: relative;
}
@media (max-width:768px){
    .boundary{
        margin: 0 20px;
    }
}
@media (min-width:769px) and (max-width:1040px) {
    .boundary{
        margin: 0 30px;
    }
}
@media (min-width:1040px){
    .boundary{
        max-width: 980px;
        margin:0 auto;
    }
}
/* 头部 */
.e-header{
    border-bottom: solid #d6d6d6 1px;
    padding: 15px 0;
}
.e-header-me{
    font-size: 40px;
}
.e-header-job{
    color:#ccc;
    font-size: 20px;
}
.e-header-addr{
    position: absolute;
    right: 0;
    bottom: 0;
}
.e-header-addr div{
    display: inline-block;
    margin-left: 10px;
}

@media (max-width:640px){
    .e-header-addr{
        margin-top: 10px;
        position: relative;
    }
    .e-header-addr div{
        margin-left: 0;
        margin-right: 10px;
    }
}
/* 技术模块 */
.e-frontend{
    padding: 40px 0;
}
.e-frontend-title{
    font-size: 40px;
}
.e-frontend-title span{
    display: block;
}
.e-frontend-title :last-child{
    font-size: 20px;
    margin-top: 10px;
    color: #ccc;
}

.e-frontend-list{
    padding: 15px 0;
}
.e-frontend-item{
    height: 35px;
    width: 100%;
    font-size: 20px;
    line-height: 35px; 
    border-left: 3px solid;
    padding-left: 10px;
    margin: 20px 0;
}
.e-frontend-itme,.blue{
    color: #2a7da9;
    border-color:#3498db;
    background-color: #d6efff;
}
.e-frontend-itme,.green{
    color: #6e9c0f;
    border-color:#80bd01;
    background-color:#eaf6d0;
}
.e-frontend-itme,.orange{
    color: #ff742a;
    border-color:#fdbc40;
    background-color:#fff6dd;
}

@media (max-width:640px){
    .e-frontend{
        padding: 20px 0;
    }
    .e-frontend-title{
        font-size: 20px;
    }
    .e-frontend-title :last-child{
        display: none;
    }
}




